/* Basics */
html, body, .wrapperOSD{
    height: 100%;
}

body {
	background-color: #e95c0c;
	font-family: arial, helvetica, sans-serif;
	margin: 10px;
    padding: 0;
}

.wrapperOSD, .wrapperTxt{
	background-color: #FFFFFF;
	margin: 0 auto;
	max-width: 1800px;
	padding: 1em 1em 0;
}

.wrapperTxt{
	border-top: 1px solid #cccccc;
	padding: 0em 1em 1em;
}

a, a:link{
	color: #e95c0c;
}

a:hover{
	color: #ba4502;
}

#zoom-display {
    position: relative;
    margin-right: 340px;
    height: 96%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
}

div.openseadragon-canvas canvas {
    /*
      Since we're doing QA and are likely to look at pixels,
      we try to disable fancy scaling
      Seems not to be working...
      */
    image-rendering:optimizeSpeed;             /* Legal fallback                 */
    image-rendering:optimize-contrast;         /* CSS3 Proposed                  */
    image-rendering:-moz-crisp-edges;          /* Firefox                        */
    image-rendering:-o-crisp-edges;            /* Opera                          */
    image-rendering:-webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+                           */
}

.openseadragon-container > div:nth-child(2) > div{
	background-color: rgba(255,255,255,0.9) !important;
	border-radius: 0 0 5px 0;
	padding: 5px 5px 0 !important;
}

.openseadragon-container > div:nth-child(2) > div > div > div{
	margin-right: 8px !important;
}

.textBox{
	text-align: center;
}

.backLink{
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 0 0 0 5px;
	padding: 10px;
    position: fixed;
    right: 20px;
    top: 20px;
	z-index: 500;
}

.legal{
	color: #999999;
}

@media screen and (max-width: 600px) {
	body{
		margin: 0px;
	}
	
	.backLink{
		top: 10px;
	}
	
	.openseadragon-container > div:nth-child(2) > div{
		padding: 0 !important;
	}

	.openseadragon-container > div:nth-child(2) > div > div > div{
		margin-right: 3px !important;
	}
}